$primary: #2193b0;

body {
  background:$primary;
  background: -moz-linear-gradient(left, #2193b0 0, #6dd5ed 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #2193b0), color-stop(100%, #6dd5ed));
  background: -webkit-linear-gradient(left, #2193b0 0, #6dd5ed 100%);
  background: -o-linear-gradient(left, #2193b0 0, #6dd5ed 100%);
  background: -ms-linear-gradient(left, #2193b0 0, #6dd5ed 100%);
  background: linear-gradient(left, #2193b0 0, #6dd5ed 100%);
}
